              {% extends template_base.html %}
              {% block title %}TS Analyser{% end %}
              {% block index %}
              <div class='page-header'>
                  <h1>TS analyzer</h1></div>
          <p>
          This is the TS analyzer version {{version}} running on {{hostname}} for {{run_time}}, using {{bits}} Mbits/s<br>
          My location is {{location}}</p>
          <p>My peers are:</p>
          <ul>
              {% for name,values in peers.items() %}
                <li>{{name}} ({{values}})</li>
              {% end %}
          </ul>
          <p>
          I am monitoring:
          </p>
          <ol>
              {% for address,values in addresses.items() %}
                  <li>{{address}}</li>
              {% end %}
          </ol>
          <p>
              Here is an <a href='channels/overview'>overview of all channels monitored</a>
          </p>
          {% end %}
          {% block log %}
                    <style>
        .submenu {
            line-height: 18px;
            border: 1px solid #ddd;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            position: relative;
            margin: 15px 0;
            margin-bottom: 0;
            padding: 39px 15px 10px;
        }
        .submenu h2 {
            position: absolute;
            top: -1px;
            left: -1px;
            padding: 3px 7px;
            font-size: 12px;
            margin:0;
            font-weight: bold;
            background-color:#f5f5f5;
            border: 1px solid#ddd;
            color:#9da0a4;
            -webkit-border-radius: 4px 0 4px 0;
            -moz-border-radius: 4px 0 4px 0;
            border-radius: 4px 0 4px 0;
        }
        
        .highlight {
    	    margin-bottom: -10px;
    	    background-color: #f7f7f9;
    	    border-top : 1px solid #e1e1e8;
    	    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    	    font-size: 10px;
    	    padding: 5px;
    	    margin: 0 -15px -10px;
    	}
    	
        
        </style>
        <p>Log can be accessed <a href='log'>here</a>.</p>
        <p>Logs to compare can be accessed <a href='logs'>here</a>.</p>

         <div class='submenu' >
        <h2>TS analyzer - Log</h2>
        
        <div class='highlight' style="overflow:scroll; height:300px; font-family :courier new ; font-size:10pt">
              {% for values in buf.get() %}
                {% if values != None %}
                {% if  "Error" in values %}
                <span class="text-danger">{{values}}</span><br>
                {% elif "Found new" in values %}
                <span class="text-success">{{values}}</span><br>
                {% else %}
                    {{values}}<br>
                {% end %}
                {% end %}
              {% end %}
          </div></div>

              {% end %}

