<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}TS Analyser{% end %}</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
    </head>
<body>
{%block container %}
<div class="container">
{% end %}
    {% block index %}{% end %}
    {% block log %} {% end %}
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
</div>
</body>
</html>
